* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

	@media only screen and (max-width: 1599px) {
		
	}

	@media only screen and (max-width: 1399px) {
		
	}

	@media only screen and (max-width: 1199px) {
		max-width: 920px;
	}

	@media only screen and (max-width: 991px) {
		max-width: 728px;
	}

	@media only screen and (max-width: 767) {
		max-width: 100%;
	}

	@media only screen and (max-width: 553) {
		
	}

	@media only screen and (max-width: 479) {
		
	}

	@media only screen and (max-width: 359) {
		
	}
}

.row {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 20px;
}

.col { }
.col.col-1 { grid-column: span 1; }
.col.col-2 { grid-column: span 2; }
.col.col-3 { grid-column: span 3; }
.col.col-4 { grid-column: span 4; }
.col.col-5 { grid-column: span 5; }
.col.col-6 { grid-column: span 6; }
.col.col-7 { grid-column: span 7; }
.col.col-8 { grid-column: span 8; }
.col.col-9 { grid-column: span 9; }
.col.col-10 { grid-column: span 10; }
.col.col-11 { grid-column: span 11; }
.col.col-12 { grid-column: span 12; }
