.home-main-banner {	
	h3 {
		font-style: normal;
		font-weight: 700;
		margin: 0 0 12px;
	}

	h1 {
		font-style: normal;
		font-weight: 300;
		margin: 0 0 40px;
		padding-right: 190px;
	}
}

.services-box-type-one {
	figure {
		margin: 0 0 8px;
		min-height: 80px;
	}

	p {
		margin: 0 0 16px;
	}
}
