.home-main-banner {	
	h3 {
		font-style: normal;
		font-weight: 700;
		margin: 0 0 12px;
	}

	h1 {
		font-style: normal;
		font-weight: 300;
		margin: 0 0 40px;
		padding-right: 190px;
	}
	
	.wp-block-button__link {
		font-style: normal;
		font-weight: 700;
		padding: 16px 40px;
		border-radius: 0;
	}
}
